body{
    width: 100%;
    height: 100%;
    background: fixed;
    background-color: rgba(0, 147, 173, 0.9);
}
.inner-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: auto;
}
.form-data{
    margin-top: 15%;
    background-color: #fff;
}
.form-body{
    padding: 20px;
}
.form-head{
    padding: 20px;
    border-bottom: 1px solid #ccc;
}
.form-head h2{
    font-size: 22px;
    font-weight: 600;
}
.form-row{
    border-bottom: 15px;
}

@media screen and (max-width: 976px){

}